main {
    height: 100%;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: #446497;
}

.gradient {
    background: linear-gradient(270deg, #59A7A7 0, #97D7C6 12%, #DEEC74 47%, #F3F2E7, #446497) 0 100% transparent no-repeat;
    height: 6px;
}

.search {
    --padding: 14px;
    margin: 0 auto;
    margin-bottom: 100px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: #f6f6f6;
    width: 800px;
    transition: box-shadow 0.25s;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(89, 167, 167, 1);
}

#searchbar {
    font-size: 16px;
    font-family: 'Nunito', Courier, monospace;
    color: #446497;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

#searchbar::placeholder, .search-icon {
    color: rgba(68, 100, 151, 1);
}

#banner > img {
    width: 100%;
    max-width: 100%;
    display: block;
}

.cards > div > img {
    max-width: 100%;
    max-height: 90%;
    display: block;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1303px;
    margin: 0 auto;
    margin-top: -70px;
    
}

.cards > div {

    border-radius: 6px;
    flex: 1 1 300px;
    margin: 30px;
    box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 4px 0px rgba(0,0,0,0.5);


}

.cards > div > a {
    text-align: center;
    text-decoration: none;
}

.cards > div:hover{
    max-width: 101%;
    box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -2px 2px 15px 0px rgba(0,0,0,0.5);
    background-color: #97D7C6;
    transition: 0.8s all;
    padding: 1px;
}

.descricao {
    font-family: 'Nunito', Courier, monospace;
    font-weight: 100;
    margin: 6px;
    margin-left: 40px;
    color: #494949;

}

.descricaoTempo {
    font-family: 'Nunito', Courier, monospace;
    margin: 0px;
    padding: 10px;
    text-align: left;
    color: #494949;
    padding-left: 2px;

}

.sobre {
    font-family: 'Nunito', Courier, monospace;
    font-weight: 500;
    padding: 10px;
    text-align: left;
    margin: 0;
}

.boxdescricao {
    background-color: #f6f6f6;
    border-radius: 6px;
}

.objetivo {
    font-family: 'Nunito', Courier, monospace;
    padding: 12px;
    color: #494949;
    margin: 0;
    font-weight: 100;
}

.imgInfo {
    width: 20px;
    margin-bottom: -4px;
    margin-right: 2px;
}

.imgItem {
    width: 8px;
    padding: 4px;
    margin-bottom: -4px;
}

.imgTempo {
    margin: 0;
    width: 30px;
    padding: 4px;
    margin-bottom: -13px;
}
