main {
  background-color: #e0e0e0;
}

.sidebar {
  height: 65%;
  width: 200px;
  margin: 10px;
  vertical-align: middle;
  position: fixed;
  z-index: 1;
  background-color: #97D7C6;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  border-radius: 0 120px 0 120px;
  -moz-border-radius: 0 120px 0 120px;
  -webkit-border-radius: 0 120px 0 120px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #446497;
  display: block;
  line-height: 1.0;
}

.sideTitulo:hover {
  color: #DEEC74;
}

.aulas {
  text-align: left;
  color: #31476c;
  padding: 6px 8px 6px 16px;
}

.tituloCurso {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 75px;
}

h1 {
  text-align: center;
  color: #31476c;
}

.titulo1 {
  text-align: center;
  color: #31476c;
}

.titulo1:hover {
  color: #446497;
}

.intro {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #446497;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

#engasgos {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #59A7A7;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

.comoId {
  background-color: #DEEC74;
  padding: 10px;
  margin-top: 15px;
  max-width: 610px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#engasgos>img {
  width: 100%;
}

.obs {
  display: inline-flex;
  background-color: #DEEC74;
  padding: 10px;
  min-width: 45%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.obs2 {
  display: inline;
  float: right;
  text-align: right;
  overflow: hidden;
  background-color: #DEEC74;
  padding: 10px;
  min-width: 45%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.obsP {
  display: inline-flex;
  background: linear-gradient(180deg, #fff, #97D7C6);
  padding: 5px;
  min-width: 45%;
  max-width: 45%;
  margin-top: 1px;
  border-radius: 15px;
}

.obsT {
  display: inline;
  float: right;
  overflow: hidden;
  background: linear-gradient(180deg, #fff, #97D7C6);
  padding: 5px;
  min-width: 45%;
  max-width: 45%;
  margin-top: 1px;
  border-radius: 15px;
}

.heimlich {
  max-width: 40%;
  max-height: 40%;
  float: left;
}

.heimlich2 {
  max-width: 40%;
  max-height: 40%;
  float: right;
  display: block;
  padding-bottom: 30px;
}

.youtube {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

#desmaio {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #59A7A7;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

.desmaio {
  color: #446497;
}

.desmaio:hover {
  color: #DEEC74;
}

.convulsao {
  color: #446497;
  padding-top: 20px;
  ;
}

.convulsao:hover {
  color: #DEEC74;
}

.aviso {
  background-color: #DEEC74;
  text-align: center;
  max-width: fit-content;
  border-radius: 75px;
  padding: 10px;
  margin-top: 15px;
}

.avisoConteudo {
  background: linear-gradient(180deg, #fff, #97D7C6);
  max-width: fit-content;
  padding: 15px;
  border-radius: 15px;
}

#parada {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #59A7A7;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

.importante {
  background-color: #e0e0e0;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

#afogamentos {
  background-color: #fff;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border: 1px solid #59A7A7;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

#afogamentos>ol>img {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: block;
}

.conclusao {
  text-align: center;
  margin-left: 250px;
  height: 20%;
  max-width: 950px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 25px;
  line-height: 30px;
  letter-spacing: inherit;
}

.button1,
.button2 {
  background: linear-gradient(to bottom right, #97D7C6, #59A7A7);
  margin: auto;
  border: 0;
  border-radius: 25px;
  text-align: center;
  color: #446497;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Nunito', Courier, monospace;
  font-size: 20px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 2rem;
  white-space: nowrap;
}

.button1:hover,
.button2:hover {
  color: #31476c;
}