*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: -50px;
    font-size: 40px;
}

body {
    width: 100%;
    height: 100%;
}
main {
    height: 800px;
}

.formCadastro {
    font-family: 'Nunito', Courier, monospace;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 80px auto;
    padding: 70px;
    align-items: center;
    max-width: 450px;
    font-family: Nunito;
    font-size: 18px;
    background-color: #97D7C6;
    border-radius: 6px;

}

input {
    font-family: 'Nunito', Courier, monospace;
    margin: 10px auto;
    width: 250px;
    height: 40px;
    margin-top: -1px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #59A7A7;
}

.itemObrigatorio {
    color: red;
}

#btnCadastrar {
    background: linear-gradient(to bottom right, #97D7C6, #59A7A7);
    font-family: 'Nunito', Courier, monospace;
    width: 160px;
    height: 40px;
    border-radius: 4px;
    border: none;
    margin: 8px;
    background-color: #59A7A7;
    color: white;
}

#btnCadastrar:hover {
    background-color: #54c2a1;
    color: #024242;
    border: 2px solid #59A7A7;
    transition: 0.6s all;
    
}